.titulo {
    background-color: #27502c;
    color: #ffcb6f;
    align-items: center;
}

nav a:hover {
    background-color: #27282a;
    color: #ffcb6f !important;
    transition-delay: 0.1s;
    transition: 1s;
    border-radius: 30%;
}

.footerAbsoluto{
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    left: 50% !important;
    padding: 20px;
}

.p-footer{
    padding: 0.5rem !important;
}